* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(hsl(255, 60%, 67%), hsl(255, 69%, 39%));
  color: white;
}

.location,
.temperature {
  display: flex;
  height: 30vh;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.location-icon {
  margin: 5vw;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
}

.degree-section h2 {
  font-size: 2.5rem;
}

.degree {
  margin-left: 8px;
}
